{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "arrowFunctions":true,
        "classes": true,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true
    },
    "rules": {
        "semi": "error"
    }
}